<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- The INTERNET permission is required for development -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Scoped Storage Compliance (Android 10+) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    
    <!-- Android 13+ Notification Permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <!-- Biometric Authentication Support -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:label="Paperless Mobile"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:supportsRtl="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            
            <!-- Main Launcher Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Consolidated View Intent Filter (All Document Types) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                
                <!-- PDF -->
                <data android:scheme="content" android:mimeType="application/pdf" />
                <data android:scheme="file" android:mimeType="application/pdf" />
                
                <!-- Word Documents (.doc, .docx) -->
                <data android:scheme="content" android:mimeType="application/msword" />
                <data android:scheme="file" android:mimeType="application/msword" />
                <data android:scheme="content" android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:scheme="file" android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                
                <!-- Excel Spreadsheets (.xls, .xlsx) -->
                <data android:scheme="content" android:mimeType="application/vnd.ms-excel" />
                <data android:scheme="file" android:mimeType="application/vnd.ms-excel" />
                <data android:scheme="content" android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:scheme="file" android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                
                <!-- PowerPoint Presentations (.ppt, .pptx) -->
                <data android:scheme="content" android:mimeType="application/vnd.ms-powerpoint" />
                <data android:scheme="file" android:mimeType="application/vnd.ms-powerpoint" />
                <data android:scheme="content" android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:scheme="file" android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                
                <!-- OpenDocument Formats (.odt, .ods, .odp) -->
                <data android:scheme="content" android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:scheme="file" android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:scheme="content" android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
                <data android:scheme="file" android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
                <data android:scheme="content" android:mimeType="application/vnd.oasis.opendocument.presentation" />
                <data android:scheme="file" android:mimeType="application/vnd.oasis.opendocument.presentation" />
                
                <!-- Images -->
                <data android:scheme="content" android:mimeType="image/*" />
                <data android:scheme="file" android:mimeType="image/*" />
            </intent-filter>

            <!-- Consolidated Share/Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                
                <!-- Documents -->
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                
                <!-- Images -->
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>
        
        <!-- Required for Flutter Embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Queries for Android 11+ Package Visibility -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
